.expense-by-category{
    position:absolute;
    top:368px;
    width:100%;
    height:454px;
    
    border-radius:10px;
    padding:30px;
    background-color: #fff;

    span {
        display:block;
        font-family: Raleway;
        font-weight: bold;
        font-size: 20px;
        height:60px;
        color:var(--font-color);
    }

    .expense-by-category__content{
        $expense-delimiter-width: 10%;
        $day-delimiter-height: 10%;
        @mixin delimiter-font-set {
            height:fit-content;
            font-weight:normal;
            font-size:15px;
        }

        display:grid;
        grid-template-columns: 1fr 9fr;
        grid-template-rows:6fr 1fr;
        height:calc(100% - 60px);
        
        .content__expense-delimiter{
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            text-align:right;
            
            span{
                @include delimiter-font-set;
                margin-right:10px;
                line-height:2px;
            }
        }

        .content__curved-chart{
            width:100%;
            height:100%;
            transform:rotateX(180deg);
        }

        .content__day-delimiter{
            grid-column:2;
            grid-row:2;
            display:flex;
            justify-content: space-evenly;
            span {
                @include delimiter-font-set;
                margin-top:10px;
            }
        }
    }
}