header {
    position:sticky;
    height:100%;
    width:400px;
    margin-right:100px;
}

.header__nav-wrap{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:170px;
    gap: 100px;
}

.header__account, .header__statistics, .header__calendar, .header__logout {
    all:unset;
    display:flex;
    align-items:center;
    justify-content: center;
    cursor:pointer; 

    img {
        width:35px;
        height:35px;
    }

    &.active{
        width:80px;
        height:80px;
        border-radius:50%;
        background-color:var(--concept-color);
        filter: drop-shadow(0px 0px 20px rgba(93, 95, 239, 0.5));
    }
}

.header__logout {
    margin-top:400px;
}