.login {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;

  .login__logo {
    position: absolute;
    width: 200px;
    top: 40px;
    height: 113px;
    left: 61px;
    z-index: 1;

    img {
      width: 100%;
    }
  }

  .login__left-part {
    width: 70%;
    height: 100%;
    background: #e9eeff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    position: relative;

    img {
      width: 600px;
      height: 350px;
    }

    .login__guide {
      width: 800px;
      height: 65px;

      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 50px;
      line-height: 40px;
      text-align: center;
      color: var(--font-color);
    }

    .login__guide-detail {
      width: 800px;
      height: 70px;
      font-family: Raleway;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 40px;
      color: var(--font-color);
    }
  }

  /**
    TODO:
    추후 시간 있을 시 사다리꼴 할 것
    현재 겪는 어려움은
    height: 0;
    border-left: 600px solid #e9eeff;
    border-bottom: 2000px solid white;
    width는 border 커야하고 border는 px로 고정값이여야 사다리꼴이 된다.
    하지만 달라지는 높이에 맞춰서 border의 정확한 값 알기엔 미루는게 나아보임
    또한 height가 0이므로 로그인버튼 등 flex로 가운데로 안땡겨짐 margin을 줘야하는데
    복잡해보여서 기능를 우선적으로 구현하는게 낫다싶어 TODO로 배치함!
  */
  .login__right-part {
    width: 30%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;

    .login__welcome {
      width: 300px;
      height: 75px;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 40px;
      text-align: center;
      color: var(--font-color);

      .highlight {
        color: var(--concept-color);
      }
    }

    .login__button {
      cursor: pointer;
      width: 417px;
      height: 74px;
      border: none;
      background: #e9eeff;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      span {
        width: 253px;
        height: 40px;
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 27px;
        line-height: 40px;
        text-align: center;
        color: var(--concept-color-span);
      }
    }
  }
}
