@mixin spanStyle {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  color: var(--font-color);
}

.login {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-width:1500px;
  height: 100%;
  display: flex;

  .login__logo {
    z-index: 1;
    position: absolute;
    top: 40px;
    left: 51px;
    width: 200px;
    height: 113px;

    img {
      width: 120%;
    }
  }

  .login__left-part {
    position:relative;
    width: 65%;
    height: 100%;
    background-color: #e9eeff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    &::after{
      position:absolute;
      top:0;
      right:-50px;
      content:'';

      border-top: 610px solid #e9eeff;
      border-right: 50px solid transparent;
      z-index:999;
    }

    img {
      width: 500px;
      margin-bottom:100px;
    }

    .login__guide {
      @include spanStyle;

      width: 700px;
      font-size: 35px;
      text-align: center;

      margin-bottom:60px;
    }

    .login__guide-detail {
      @include spanStyle;

      width: 700px;
      height: 70px;

      font-weight:normal;
      font-size: 25px;
      line-height: 40px;
      color: var(--font-color);
    }
  }

  /**
    TODO:
    추후 시간 있을 시 사다리꼴 할 것
    현재 겪는 어려움은
    height: 0;
    border-left: 600px solid #e9eeff;
    border-bottom: 2000px solid #fff;
    width는 border 커야하고 border는 px로 고정값이여야 사다리꼴이 된다.
    하지만 달라지는 높이에 맞춰서 border의 정확한 값 알기엔 미루는게 나아보임
    또한 height가 0이므로 로그인버튼 등 flex로 가운데로 안땡겨짐 margin을 줘야하는데
    복잡해보여서 기능를 우선적으로 구현하는게 낫다싶어 TODO로 배치함!
  */
  .login__right-part {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    padding-top: 300px;
    gap: 150px;
    background-color: #fff;

    &::before{
      position:absolute;
      content:'';

      bottom:0;
      left:-50px;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      // border-right: 50px solid transparent;
      border-bottom: 610px solid #fff;
    }

    .login__welcome {
      @include spanStyle;

      width: 300px;
      height: 75px;
      font-size: 25px;
      line-height: 40px;
      text-align: center;
      color: var(--font-color);

      .highlight {
        color: var(--concept-color);
      }
    }

    .login__button {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      
      width: 417px;
      height: 74px;
      padding: 0 40px;
      border: none;
      border-radius: 20px;
      background-color: #e9eeff;
      cursor: pointer;

      span {
        @include spanStyle;
        width: 253px;
        height: 40px;
        
        font-size: 20px;
        line-height: 40px;
        text-align: center;
        color: var(--concept-color-span);
      }
    }
  }
}

.triangle{
  position:absolute;
  width: 0;
  height: 0;
  border-left: 250px solid transparent;
  border-right: 250px solid transparent;
  border-bottom: 500px solid red;
}