@mixin tableCellFontStyleMixin {
  font-family: Raleway;
  font-weight: bold;
  font-size: 20px;
  line-height: 12px;
  color: var(--concept-color);
}

.calendar__table {
  width: 100%;
  height: 100%;
  border-collapse: separate;
  border-spacing: 15px 8px;

  thead {
    display: table-header-group;

    tr {
      display: table-row;

      td {
        @include tableCellFontStyleMixin;

        display: table-cell;
        height: 100px;
        width: 130px;

        text-align: center;
        opacity: 0.5;

        &:first-child {
          color: #ef5d5d;
        }
      }
    }
  }

  tbody {
    display: table-row-group;

    tr {
      display: table-row;
      vertical-align: inherit;

      td {
        @include tableCellFontStyleMixin;
        display: table-cell;

        width: 130px;
        height: 120px;
        background-color: #fff;
        border-radius: 10px;
        padding: 16px;
        transition: filter 0.3s ease;

        &:first-child {
          color: #ef5d5d;
        }

        &.not-current-month-date {
          background-color: transparent;
          opacity: 0.5;
        }

        &:not(.not-current-month-date) {
          &:hover {
            filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.25));
          }
        }

        &.contain-data {
          cursor: pointer;
        }

        span {
          display: block;
          height: 18px;
        }

        .contain-category {
          height: fit-content;
          width: 100%;
          margin-top: 20px;
          padding: 0 5px;

          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(2, 1fr);
          gap: 5px;

          div {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            place-self: center;
          }
        }
      }
    }
  }
}

@mixin totalMoneyFontStyleMixin {
  font-family: Raleway;
  font-weight: bold;
  font-size: 22px;
}
.calendar__total-money {
  display: flex;
  height: 50px;
  justify-content: flex-end;

  span {
    @include totalMoneyFontStyleMixin;
    padding: 15px;
  }

  .calendar__total-money--expenditure {
    display: flex;
    align-items: center;
    color: #e63950;
    margin-right: 10px;
  }

  .calendar__total-money--income {
    display: flex;
    align-items: center;
    color: #1289a7;
  }
}
