@mixin fontStyle($weight: bold) {
  font-family: Raleway;
  font-style: normal;
  font-weight: $weight;
}

.account-history__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 50px;

  th {
    @include fontStyle(normal);
    font-size: 20px;
    line-height: 9px;
  }

  .account-history__header-left {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .account-history__header-right {
    display: flex;
    gap: 20px;
  }
}

.account-history__income {
  display: flex;
  align-items: center;
  gap: 14px;
  .account-history__income-img {
    cursor: pointer;
  }
}

.account-history__expenditure {
  display: flex;
  align-items: center;
  gap: 14px;

  span {
    color: #ef5d5d;
  }

  .account-history__expenditure-img {
    cursor: pointer;
  }
}

.account-history__text {
  font-size: 30px;
}

.account-history__add {
  font-size: 40px;
  cursor: pointer;
  font-weight: normal;
}

.account-history-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  // 첫줄은 테이블 고정
  // 아래 2줄은 테이블 간격

  .account-history-table__header {
    font-weight: normal;

    th {
    }
  }

  .account-history-table__content {
    text-align: left;
    width: 25%;
  }

  .account-history-table__content-container {
    display: flex;
    gap: 30px;
    align-items: center;
    transform: translateY(12px);

    img {
      width: 39px;
      height: 39px;
    }

    .account-history-table__content-detail {
      display: flex;
      flex-direction: column;
      gap: 10px;
      span{
        font-size:15px;
        text-align:left;
      }
    }

    .account-history-table__content-span {
      text-align: left;
      @include fontStyle(bold);
      font-size: 20px;
    }

    .account-history-table__content-pay {
      @include fontStyle(normal);
      font-size: 20px;
    }
  }

  .account-history-table__category {
    width: 15%;
    position: relative;
    text-align: right;

    span {
      cursor: pointer;
    }

    .category-container {
      position: absolute;
      top: -160px;
      left: -75px;
      width: 239px;
      height: 143px;

      background-color: white;
      border-radius: 30px 30px 0px 30px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding-left: 10px;
      display: none;

      &.active {
        display: flex;
      }

      img {
        width: 35px;
        height: 35px;
      }

      .category-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        width: 50px;
        height: 62px;
        border: none;
        border-radius: 20px;
        transition: all 0.5s ease-in-out;

        &:hover {
          background: #ffffff;
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
          filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
        }
        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }

        img {
          // width: 35px;
          // height: 35px;
          cursor: pointer;
          // filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
        }
      }
    }
  }

  .account-history-table__date {
    width: 25%;
    position: relative;
    text-align: right;
    span {
      cursor: pointer;
    }
  }

  .account-history-table__price {
    width: 25%;
    text-align: right;
    @include fontStyle(normal);
  }

  .account-history-table_row {
    position: relative;

    td {
      text-align: right;
      padding: 10px 0px;
    }

    .account-history-table__content-detail{
      font-size:17px;
    }

    .account-history-table__content-category{
      font-size:17px;
    }

    .account-history-table__content-createdAt {
      @include fontStyle(normal);
      font-size: 15px;
      line-height: 9px;
    }

    .account-history-table__content-price {
      text-align: right;
      @include fontStyle(normal);
      font-size: 15px;
    }
  }

  .account-history-table__trashcan {
    position: absolute;
    right: 0px;
    top: 30px;
    cursor: pointer;
  }
}

.date-container {
  position: absolute;
  width: 203px;
  left: 50px;
  top: -160px;
  height: 150px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 30px 30px 0px 30px;
  padding: 24px;
  display: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: none;

  &.active {
    display: block;
  }

  span {
    @include fontStyle(bold);
    font-size: 15px;
    line-height: 9px;
  }
  .date__whole {
    margin-bottom: 20px;
  }

  .date__input-container {
    display: none;
    position: relative;
    &.active {
      display: block;
    }
    @include fontStyle(normal);

    .date__input {
      @include fontStyle(normal);
      text-align: right;
      padding: 10px 10px 15px 10px;
      font-size: 15px;
      outline: none;
      width: 122px;
      height: 30px;
      border: none;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
      border-radius: 20px 20px 0px 20px;
      margin-top: 15px;
      margin-left: 35px;
    }

    .date__fix-date {
      position: absolute;
      left: 70px;
      top: 25px;
      color: black;
      font-size: 16px;
      cursor: default;
      font-weight: normal;
    }
  }

  .date__specific-container {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .date__whole {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .date__whole-part {
    cursor: pointer;
  }

  .date__specific-part {
    cursor: pointer;
  }
}
