.account-history__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  .account-history__header-left {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .account-history__header-right {
    display: flex;
    gap: 10px;
  }
}

.account-history__income {
  display: flex;
  align-items: center;
  gap: 4px;
  .account-history__income-img {
    cursor: pointer;
  }
}

.account-history__expenditure {
  display: flex;
  align-items: center;
  gap: 4px;

  span {
    color: #ef5d5d;
  }

  .account-history__expenditure-img {
    cursor: pointer;
  }
}

.account-history__text {
  font-size: 30px;
}

.account-history__add {
  font-size: 50px;
  cursor: pointer;
}

.account-history-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  // 첫줄은 테이블 고정
  // 아래 2줄은 테이블 간격

  .account-history-table__content-container {
    display: flex;
    gap: 20px;
    align-items: center;
    transform: translateY(25px);
  }

  .account-history-table__content-detail {
    display: flex;
    flex-direction: column;
  }

  .account-history-table__content-pay {
    font-weight: normal;
  }

  .account-history-table__content {
    width: 35%;
  }

  .account-history-table__category {
    width: 15%;
    position: relative;

    span {
      cursor: pointer;
    }

    .category-container {
      position: absolute;
      top: -160px;
      left: -240px;
      width: 239px;
      height: 155px;
      background-color: white;
      border-radius: 30px 30px 0px 30px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-left: 20px;
      display: none;

      &.active {
        display: flex;
      }

      img {
        width: 35px;
        height: 35px;
      }

      .category-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        width: 50px;
        height: 62px;
        border: none;
        border-radius: 20px;

        &:hover {
          border: 1px solid white;
          background: #ffffff;
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }

        img {
          cursor: pointer;
        }
      }
    }
  }

  .account-history-table__date {
    width: 25%;
    position: relative;

    span {
      cursor: pointer;
    }
  }

  .account-history-table__price {
    width: 25%;
  }
}

.date-container {
  position: absolute;
  width: 183px;
  height: 112px;
  left: -160px;
  top: -120px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 30px 30px 0px 30px;
  padding: 10px 0 0 20px;
  display: none;

  &.active {
    display: block;
  }

  .date__input-container {
    display: none;
    position: relative;
    &.active {
      display: block;
    }

    .date__input {
      text-align: right;
      padding: 10px;
      font-size: 15px;
    }

    .date__fix-date {
      position: absolute;
      left: 65px;
      top: 14px;
      color: black;
      font-size: 15px;
      cursor: default;
    }
  }

  input {
    width: 122px;
    height: 30px;
    left: 1119px;
    top: 550px;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 0px 20px;
    margin-top: 5px;
    margin-left: 30px;
  }

  .date__whole-part {
    cursor: pointer;
  }

  .date__specific-part {
    cursor: pointer;
  }
}
