@use "./_reset";

@font-face {
    font-family: Raleway;
    src: url(./fonts/raleway.ttf);
    font-weight:400;
    font-style:normal;
}

@font-face {
    font-family: Raleway;
    src: url(./fonts/raleway.ttf);
    font-weight:700;
    font-style:bold;
}

:root{
    --bg-color: #F4F6FC;
    --concept-color: #5D5FEF;
    --concept-color-span: #3e2b75;
    --font-color:#3E2B75;

    --min-height : 1080px;
}

body {
  width: 100vw;
  height: 100vh;
  min-height: var(--min-height);
  background-color: var(--bg-color);
}

#root {
  display: flex;
  min-width : 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 0 50px;
  background-color: var(--bg-color);
}

.content-wrap {
  width:1135px;
  height: 100%;
  margin: 0 auto;
  padding-top:150px;
}
