@mixin balanceFontStyle($fontSize) {
  font-family: Raleway;
  font-style: normal;
  line-height: 9px;
  font-weight: bold;
  font-size: $fontSize;
}

.account__balance-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 70px;

  .account__balance {
    @include balanceFontStyle(50px);
  }

  .account__balance-text {
    @include balanceFontStyle(30px);
  }
}
